@import "../common/colours.scss";
.carouselContainer {
  max-height: 500px;
  width: 100%;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;

  // Slides
  .slideHidden {
    display: none;
  }
  .activeSlide {
    max-height: 500px;
    // transform: translateX(0);
  }

  .image {
    border-radius: 10px;
    width: 100%;
    max-height: 500px;
  }
  // Slider chevrons
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
    }
  }
  .next {
    right: 0;
  }
  .caption {
    max-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
    overflow: auto;
  }

  

  // Animations

  .slideLeft{
    transform: translateX(105%);
  }
  .slideRight{
    transform: translateX(-105%);
  }


  // ----- Slide in
  // .slideLeft,
  // .slideRight {
  //   --startPos: 3rem;
  //   animation-name: slidingAnim, fadeIn;
  //   animation-duration: 1s, 1.2s;
  //   animation-delay: 0s, 0s;
  //   animation-timing-function: ease-in-out, ease-in-out;
  // }

  // .slideRight {
  //   --startPos: -3rem;
  // }

  // @keyframes fadeIn {
  //   from {
  //     opacity: 0.1;
  //   }
  //   to {
  //     opacity: 1;
  //   }
  // }

  @keyframes slidingAnim {
    from {
      transform: translateX(var(--startPos));
    }
    to {
      transform: translateX(0);
    }
  }
}
// End dots
.dot {
  cursor: pointer;
  background-color: #f9f9f9;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: $primaryColour; //#717171;
}

.endDots {
  text-align: center;
  padding-bottom: 1rem;
}
