@import "../common/colours.scss";
@import "../common/fonts.scss";
@import "../common/breakpoints.scss";
@import "../common/transformations.scss";

$navbarHeight: 4rem;
.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: $navbarBackgroundColour;
  position: sticky;
  align-items: center;
  height: $navbarHeight;
}

.logo {
  height: $navbarHeight;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  img {
    height: inherit;
  }
}
// Links on larger displays
.links {
  position: fixed;
  left: -100%;
  top: 6rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 1rem;
  &.active {
    left: 0;
  }
  @include sm {
    // Remove items not needed when on large viewport
    position: unset;
    left: unset;
    flex-direction: unset;
    top: unset;
    background-color: unset;
    width: unset;
  }

  > a {
    font-size: calc($navbarFontSize/1.5);
    background-color: $hamburgerMenuFillColour;
    color: #fff;
    //Give every odd element a bottom border
    &:nth-child(odd) {
      border-bottom: 1px solid black;
    }
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    &.linkActive {
      text-decoration: underline;
    }

    @include sm {
      background-color: unset;
      &:nth-child(odd) {
        border-bottom: unset;
      }
      &:hover {
        transform: scale($HoverScaleAmount);
      }
    }
  }
}
//-------------
// a {
//   font-size: calc($navbarFontSize/1.5);
//   @include sm {
//     font-size: $navbarFontSize;
//     border: unset;
//     color: #fff;
//   }
//   // padding: 1rem 1rem; //Padding left/right
//   // box-shadow: 1rem;
//   &:hover {
//     // background-color: aqua;
//     transform: scale(1.1);
//   }
//   &:active {
//     color: $navbarLinkActiveColour;
//   }

//   // Active link specific styling
//   &.linkActive {
//     text-decoration: underline;
//   }
// }
//-------------------

// Hamburger bit has been inspired by https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
.hamburger {
  display: block;
  cursor: pointer;

  // Open and close animation
  &.active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  // Hide hamburger on larger devices
  @include sm {
    display: none;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
