// Colours

$accentColour: #ab540f; //cmyk(8%, 55%, 92%, 27%);
$accentDarkColour: #652e00; //cmyk(12%, 60%, 100%, 55%);
$primaryColour: #4c9100; //cmyk(52%, 8%, 100%, 38%); //Green ish

// Logo
$logoBackgroundColour: rgba(218, 218, 218, 0.967);

// Navbar
$navbarBackgroundColour: $primaryColour; //#ededed;
$navbarLinkActiveColour: $accentDarkColour;

// Hamburger
$hamburgerMenuFillColour: $accentColour;
