@import "../common/breakpoints.scss";
@import "../common/colours.scss";
.baseContainer {
  justify-content: center;
  width: 100%;
  margin: 0;
}
.containerPadding {
  justify-content: center;
  padding: 1rem 5%;
  @include sm {
    padding: 2rem 5%;
  }
}

.background {
  background-color: #fff;//rgba(218, 218, 218, 0.967);
}
